{% extends "base.html" %}
{% block title %}The Best Eye: Edit Article{% endblock %}
{% load static %}
{% load i18n %}
{% block extrahead %}
	<script type="text/javascript">
		function confirmDelete() {
			//display confirmation window which returns true or false
			if(!window.confirm("Are you sure you want to delete this article?")) return false;
			 
			//user clicked 'OK'
			window.location.href="/blog/{{edit_article.id}}/delete/"
			}
	</script>
{% endblock %}

{% block content %}

	<div id="whitebg">
		{% if edit_article %}
			<h3>Edit Article:</h3>
			<form action="/blog/{{edit_article.id}}/edit/" method="post" />{% csrf_token %}
				{% if edit_article.article_thumbnail %}
					<img src="{% get_static_prefix %}{{edit_article.article_thumbnail}}" width="200" /><br />
				{% endif %}
				<p>{{form.article_thumbnail}}</p>
				<p>{{form.subject}}</p>
				<p>{{form.body}}</p>
				<p>
					<input type="submit" name="submit" value="Edit Message" /> • <a href="/blog/{{edit_article.id}}/">Cancel</a>
				</p>
			</form>
			<p><button onclick="confirmDelete();">Delete</button></p>
		{% else %}
			<p>Nope!</p>
			<p><a href="/blog/"><b>Back to Blog</b></a></p>
		{% endif %}
	</div>

{% endblock %}