{% extends "base.html" %}
{% block title %}The Best Eye: Activity Stream{% endblock %}
{% load static %}

{% block content %}

	{% if activity_stream %}

		<p>
			<div class="heading2">
				<img 
					class="heading_icon" 
					src="{% static "assets/images/activity-list-256.png" %}" 
				/>
				Activity Stream:
			</div>
		</p>

		<div id="whitebg"> 

			<table width="100%" cellpadding="5" />
				{% for a in activity_stream %}
					<tr><td>
						<a href="{{a.url}}">
							{% if a.user.user_object.avatar_thumbnail %}
								<img title="{{a.game.description|truncatewords:"20"}}" class="p_pic" src="{% get_static_prefix %}{{a.user.user_object.avatar_thumbnail}}" width="50" />
							{% else %}
								<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
							{% endif %} 
							<b>@{{a.user.username}}</b> {{a.actionitem}} on {{a.pubdate}}
						</a>
					</td></tr>
				{% endfor %}
			</table>
			<div class="pagination" align="right" style="padding-left:15px;">
				<span class="step-links">
					{% if activity_stream.has_previous %}
						<a href="?page={{ activity_stream.previous_page_number }}"><b>previous</b></a>
					{% endif %}

					<span class="current">
						Page {{ activity_stream.number }} of {{ activity_stream.paginator.num_pages }}
					</span>

					{% if activity_stream.has_next %}
						<a href="?page={{ activity_stream.next_page_number }}"><b>next</b></a>
					{% endif %}
				</span>
			</div>

		</div>

	{% else %}
		<div class="heading2">
			<img 
				width="30" 
				src="{% static "assets/images/lobby-bubbles-256.png" %}" 
			/>
			No Activities!
		</div>
		<p>Try following some users to build an activity stream.</p>
	{% endif %}

{% endblock %}