html, body {
  height: 100%;
  overflow-x: hidden; 
  overflow-y: scroll;
}

.jsc-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 5px;
  width: 300px;
  min-height: 0 !important;
}

.jsc-sidebar-content {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 10;
  /* background-color: white; */ 
}

.jsc-sidebar-pulled {
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000; 
}

.jsc-sidebar-pushed {
  -webkit-transform: translate3d(300px, 0, 0);
  -moz-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  -o-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0); 
}

/* .jsc-sidebar-scroll-disabled {
  position: fixed;
  overflow: hidden; }
*/

@media only screen and (max-width : 480px) {
  .jsc-sidebar {
    font-size: 24px;
  }
}

  @media only screen and (max-width : 1200px) and (min-width : 481px) {
  .jsc-sidebar {
    font-size: 16px;
  }
}