body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	background-image: url('../img/bg-grad.png');
	background-repeat: repeat-x;
}

h1 {
	font-size: 450%
}

.bigfont {
	font-size: 24px;
	font-weight: bold;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
	color: #333333;
}

a:active {
	text-decoration: none;
	color: #333333;
}

#page {
	width: 900px;
	text-align: left;
	margin: 10px auto 20px auto;
}

#sidebar {
	float: left;
	width: 150px;
}

#content {
	float: left;
	width: 700px;
}

.small_font {
	font-size: 7pt;
}

table {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}