body {
	text-align: center;
	}

#page {
	width: 960px;
	text-align: left;
	margin: 10px auto 20px auto;
	background-color: #FFFFFF;
	}

#sidebar {
	float: left;
	width: 200px;
	border: 1px solid #FFF;
	}

#content {
	float: left;
	width: 600px;
	border: 1px solid #FFF;
	}