{% extends "base.html" %}
{% block title %}The Best Eye: 500 Error{% endblock %}

{% block content %}

	<div id="whitebg">
		<p>500 error! Sorry!</p>
		<p><a href="/"><b>Home</b></a></p>
	</div>

{% endblock %}