{% extends "base.html" %}
{% load i18n %}

{% block content %}

	<div id="whitebg">

		<p>You've successfully registered!</p>
		<p>Click <a href="/accounts/login/">here</a> to log in!</p>

	</div>

{% endblock %}