{% extends "base.html" %}
{% block title %}The Best Eye: All Messages{% endblock %}
{% load i18n %}
{% load static %}
{% block extrahead %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script>
		$(function() {
			$( "#accordion" ).accordion();
		});
	</script>
{% endblock %}

{% block content %}

	<p>	
		<div class="heading2">
			<img 
				class="heading_icon" 
				src="{% static "assets/images/eyechat-eye-256.png" %}" 
			/>
			Your Messages:
		</div>
	</p>

		{% if any_messages %}

			<div id="accordion">
				<h3>Inbox:</h3>
				<div>
					<table width="100%" cellpadding="2">
						<tr>
							<td><b>Subject:</b></td>
							<td><b>From:</b></td>
							<td><b>Date:</b></td>
						</tr>
						{% if available_received_messages %}
							{% for message in available_received_messages %}

								{% if message.recipient_deleted %}

								{% else %}

									{% if message.read_date %}

										<tr>
											<td><a href="/eyechat/{{message.id}}/">{{message.subject}}</a></td>
											<td><a href="/eyechat/{{message.id}}/">{{message.sender.username}}</a></td>
											<td><a href="/eyechat/{{message.id}}/">{{message.pubdate}}</a></td>
										</tr>

									{% else %}

										<tr>
											<td><a href="/eyechat/{{message.id}}/"><b>{{message.subject}}</b></a></td>
											<td><a href="/eyechat/{{message.id}}/"><b>{{message.sender.username}}</b></a></td>
											<td><a href="/eyechat/{{message.id}}/"><b>{{message.pubdate}}</b></a></td>
										</tr>

									{% endif %}

								{% endif %}
							{% endfor %}
						{% else %}
							<tr>
								<td colspan="3" align="center">
									<p>No Messages!</p>
								</td>
							</tr>
						{% endif %}
					</table>
				</div>
				<h3>Sent Items:</h3>
				<div>
					<table width="100%" cellpadding="2">
						<tr>
							<td><b>Subject:</b></td>
							<td><b>From:</b></td>
							<td><b>Date:</b></td>
							<td><b>Read:</b></td>
						</tr>
						{% if available_sent_messages %}
							{% for message in available_sent_messages %}

								{% if message.sender_deleted %}
									
								{% else %}

									{% if message.read_date %}

										<tr>
											<td><a href="/eyechat/{{message.id}}/">{{message.subject}}</a></td>
											<td><a href="/eyechat/{{message.id}}/">{{message.recipient.username}}</a></td>
											<td><a href="/eyechat/{{message.id}}/">{{message.pubdate}}</a></td>
											<td><a href="/eyechat/{{message.id}}/">{{message.read_date}}</a></td>
										</tr>

									{% else %}
										<tr>
											<td><a href="/eyechat/{{message.id}}/">{{message.subject}}</a></td>
											<td><a href="/eyechat/{{message.id}}/">{{message.recipient.username}}</a></td>
											<td><a href="/eyechat/{{message.id}}/">{{message.pubdate}}</a></td>
											<td></td>
										</tr>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% else %}
							<tr>
								<td colspan="4" align="center">
									<p>No Messages!</p>
								</td>
							</tr>
						{% endif %}

					</table>
				</div>
			</div>

		{% else %}
			
			<p>None to show!</p>
		
		{% endif %}

{% endblock %}