{% extends "base.html" %}
{% block title %}The Best Eye: Lobby{% endblock %}
{% load static %}
{% load i18n %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/lobby.css" %}">
{% endblock %}

{% block content %}

	{% if search_sent %}

		{% if search_lobby_results.count > 0 %}

			<table width="100%">
				<tr>
					<td>
						<div class="heading2">
							<img 
								class="heading_icon" 
								src="{% static "assets/images/lobby-bubbles-256.png" %}" 
							/> 
							Search Results:
						</div>
					</td>
					<td align="right" style="padding-right:5px;">
						<form action="/lobby/" method="post">{% csrf_token %}
							<input type="text" id="search_lobby_posts" name="search_lobby_posts" placeholder="Search" /> 
							<input type="image" src="{% static "assets/images/search-glass-256.png" %}" class="search_icon">
						</form>
					</td>
				</tr>
			</table>

			{% for post in search_lobby_results %}
				<table width="100%" cellpadding="2" style="background:#ffffff;">
					<tr>
						<td width="50" rowspan="3" valign="top">
							<a href="/accounts/profile/{{post.createdby.id}}/">
								{% if post.createdby.user_object.avatar_thumbnail %}
									<img 
										src="{% get_static_prefix %}{{post.createdby.user_object.avatar_thumbnail}}" 
										alt="thumbnail" 
										width="50"
									/>
								{% else %}
									<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
								{% endif %}
							</a>
						</td>
						<td colspan="2">
							<a href="/accounts/profile/{{post.createdby.id}}/"><b>{{post.createdby.username}}:</b></a>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<a href="/lobby/posts/{{post.id}}/">{{ post.body|truncatewords:"20" }}</a>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							{% if request.user.is_authenticated %}
								{% if post.liked %}
									<a href="/lobby/posts/{{post.id}}/unlike/?next=/lobby/">
										<img 
											class="media_icon" 
											src="{% static "assets/images/heart-unlike-256.png" %}" 
											title="Unlike Game" 
										/> {{post.postlikes.count}} 
									</a>
								{% else %}
									{% if post.postlikes.count > 0 %}
										<a href="/lobby/posts/{{post.id}}/like/?next=/lobby/">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-like-256.png" %}" 
												title="Like Game" 
											/> {{post.postlikes.count}} 
										</a>
									{% else %}
										<a href="/lobby/posts/{{post.id}}/like/?next=/lobby/">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-like-256.png" %}" 
												title="Like Game" 
											/> 
										</a>
									{% endif %}
								{% endif %}
							{% else %}
								{% if post.postlikes.count > 0 %}
									<img 
										class="media_icon" 
										src="{% static "assets/images/heart-nolike-256.png" %}" 
										title="Like Game" 
									/> {{post.postlikes.count}} 
								{% endif %}
							{% endif %}

<!--							{{ post.postlikes.count }} likes. 
							{% if thisuser %}
								{% if post.liked %}
									<a href="/lobby/posts/{{post.id}}/unlike/?next=/lobby/"><b>Unlike!</b></a>
								{% else %}
									<a href="/lobby/posts/{{post.id}}/like/?next=/lobby/"><b>Like!</b></a>
								{% endif %}
							{% endif %} -->
							<span class="small_font">
								<i>Posted on {{ post.pubdate }}</i> 
								{% if post.createdby == thisuser %}
									<a href="/lobby/posts/{{post.id}}/edit/"><b>Edit</b></a>
								{% endif %}
							</span>
						</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="2">
							<span class="small_font">Comments:</span>
						</td>
					</tr>
					{% for comment in post.post_replied_to.all %}
						<tr>
							<td rowspan="2">
							</td>
							<td width="50" rowspan="2" valign="top">
								{% if comment.createdby.user_object.avatar_thumbnail %}
									<img 
										src="{% get_static_prefix %}{{comment.createdby.user_object.avatar_thumbnail}}" 
										alt="thumbnail" 
										width="50"
									/>
								{% else %}
									<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
								{% endif %}
							</td>
							<td>
								<a href="/accounts/profile/{{comment.createdby.id}}/">
									<b>{{comment.createdby.username}}:</b>
								</a> 
								{{comment.comment_text}} 
							</td>
						</tr>
						<tr>
							<td valign="top">
								{% if request.user.is_authenticated %}
									{% if comment.liked %}
										<a href="/lobby/posts/{{post.id}}/comments/{{comment.id_unique}}/unlike/?next=/lobby/">
											<img 
												class="comment_icon" 
												src="{% static "assets/images/heart-unlike-256.png" %}" 
												title="Unlike Photo" 
											/> {{comment.commentlikes.count}} 
										</a>
									{% else %}
										{% if comment.commentlikes.count > 0 %}
											<a href="/lobby/posts/{{post.id}}/comments/{{comment.id_unique}}/like/?next=/lobby/">
												<img 
													class="comment_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/> {{comment.commentlikes.count}} 
											</a>
										{% else %}
											<a href="/lobby/posts/{{post.id}}/comments/{{comment.id_unique}}/like/?next=/lobby/">
												<img 
													class="comment_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/> 
											</a>
										{% endif %}
									{% endif %}
								{% else %}
									{% if comment.commentlikes.count > 0 %}
										<img 
											class="comment_icon" 
											src="{% static "assets/images/heart-nolike-256.png" %}" 
											title="Like Game" 
										/> {{comment.commentlikes.count}} 
									{% endif %}
								{% endif %}

<!--								{{comment.commentlikes.count}} likes. 
								{% if thisuser %}
									{% if comment.liked %}
										<a href="/lobby/posts/{{post.id}}/comments/{{comment.id_unique}}/unlike/?next=/lobby/">
											<b>Unlike!</b>
										</a>
									{% else %}
										<a href="/lobby/posts/{{post.id}}/comments/{{comment.id_unique}}/like/?next=/lobby/">
											<b>Like!</b>
										</a>
									{% endif %}
								{% endif %} -->
								<span class="small_font">
									<i>Posted on {{comment.pubdate}}</i> 
									{% if comment.createdby == thisuser %}
										<a href="/lobby/posts/{{post.id}}/comments/{{comment.id_unique}}/edit/"><b>Edit</b></a>
									{% endif %}
								</span>
							</td>
						</tr>
						<tr><td colspan="3"></td></tr>
					{% endfor %}
					{% if thisuser %}
						<tr>
							<td></td>
							<td colspan="2">
								<form action="/lobby/posts/{{post.id}}/new_comment/" method="post">{% csrf_token %}
									<input type="text" name="comment_text" id="comment_text" placeholder="Comment" size="40" />
									<input type="submit" name="newcomment" id="newcomment" value="New Comment" />
								</form>
							</td>
						</tr>
					{% endif %}
				</table>
				<br />
			{% endfor %}

		{% else %}

			<table width="100%">
				<tr>
					<td>
						<p>No Search Results!</p>
					</td>
					<td align="right" style="padding-right:5px;">
						<form action="/lobby/" method="post">{% csrf_token %}
							<input type="text" id="search_lobby_posts" name="search_lobby_posts" placeholder="Search" /> 
							<input type="image" src="{% static "assets/images/search-glass-256.png" %}" class="search_icon">
						</form>
					</td>
				</tr>
			</table>

		{% endif %}

	{% else %}

		<table width="100%">
				<tr>
					<td>
						<div class="heading2">
							<img 
								class="heading_icon" 
								src="{% static "assets/images/lobby-bubbles-256.png" %}" 
							/>
							Chat with other players in the Lobby!
						</div>
					</td>
					<td align="right" style="padding-right:5px;">
						<form action="/lobby/" method="post">{% csrf_token %}
							<input type="text" id="search_lobby_posts" name="search_lobby_posts" placeholder="Search" /> 
							<input type="image" src="{% static "assets/images/search-glass-256.png" %}" class="search_icon">
						</form>
					</td>
				</tr>
			</table>

		{% if posts.count > 0 %}

			{% for post in posts %}
				<table width="100%" cellpadding="2" style="background:#ffffff;">
					<tr>
						<td width="50" rowspan="3" valign="top">
							<a href="/accounts/profile/{{post.createdby.id}}/">
								{% if post.createdby.user_object.avatar_thumbnail %}
									<img 
										src="{% get_static_prefix %}{{post.createdby.user_object.avatar_thumbnail}}" 
										alt="thumbnail" 
										width="50"
									/>
								{% else %}
									<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
								{% endif %}
							</a>
						</td>
						<td colspan="2">
							<a href="/accounts/profile/{{post.createdby.id}}/"><b>{{post.createdby.username}}:</b></a>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<a href="/lobby/posts/{{post.id}}/">{{ post.body|truncatewords:"20" }}</a>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							{% if request.user.is_authenticated %}
								{% if post.liked %}
									<a href="/lobby/posts/{{post.id}}/unlike/?next=/lobby/">
										<img 
											class="media_icon" 
											src="{% static "assets/images/heart-unlike-256.png" %}" 
											title="Unlike Game" 
										/> {{post.postlikes.count}} 
									</a>
								{% else %}
									{% if post.postlikes.count > 0 %}
										<a href="/lobby/posts/{{post.id}}/like/?next=/lobby/">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-like-256.png" %}" 
												title="Like Game" 
											/> {{post.postlikes.count}} 
										</a>
									{% else %}
										<a href="/lobby/posts/{{post.id}}/like/?next=/lobby/">
											<img 
												class="media_icon" 
												src="{% static "assets/images/heart-like-256.png" %}" 
												title="Like Game" 
											/> 
										</a>
									{% endif %}
								{% endif %}
							{% else %}
								{% if post.postlikes.count > 0 %}
									<img 
										class="media_icon" 
										src="{% static "assets/images/heart-nolike-256.png" %}" 
										title="Like Game" 
									/> {{post.postlikes.count}} 
								{% endif %}
							{% endif %}
							<span class="small_font">
								<i>Posted on {{ post.pubdate }}</i> 
								{% if post.createdby == thisuser %}
									<a href="/lobby/posts/{{post.id}}/edit/"><b>Edit</b></a>
								{% endif %}
							</span>
						</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="2">
							<span class="small_font">Comments:</span>
						</td>
					</tr>
					{% for comment in post.comments %}
						<tr>
							<td rowspan="2">
							</td>
							<td width="50" rowspan="2" valign="top">
								{% if comment.createdby.user_object.avatar_thumbnail %}
									<img 
										src="{% get_static_prefix %}{{comment.createdby.user_object.avatar_thumbnail}}" 
										alt="thumbnail" 
										width="50"
									/>
								{% else %}
									<img src="{% static "assets/images/generic_avatar.png" %}" alt="Hi!" width="50" />
								{% endif %}
							</td>
							<td>
								<a href="/accounts/profile/{{comment.createdby.id}}/">
									<b>{{comment.createdby.username}}:</b>
								</a> 
								{{comment.comment_text}} 
							</td>
						</tr>
						<tr>
							<td valign="top">
								{% if request.user.is_authenticated %}
									{% if comment.liked %}
										<a href="/lobby/posts/{{post.id}}/comments/{{comment.id_unique}}/unlike/?next=/lobby/">
											<img 
												class="comment_icon" 
												src="{% static "assets/images/heart-unlike-256.png" %}" 
												title="Unlike Photo" 
											/> {{comment.commentlikes.count}} 
										</a>
									{% else %}
										{% if comment.commentlikes.count > 0 %}
											<a href="/lobby/posts/{{post.id}}/comments/{{comment.id_unique}}/like/?next=/lobby/">
												<img 
													class="comment_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/> {{comment.commentlikes.count}} 
											</a>
										{% else %}
											<a href="/lobby/posts/{{post.id}}/comments/{{comment.id_unique}}/like/?next=/lobby/">
												<img 
													class="comment_icon" 
													src="{% static "assets/images/heart-like-256.png" %}" 
													title="Like Photo" 
												/> 
											</a>
										{% endif %}
									{% endif %}
								{% else %}
									{% if comment.commentlikes.count > 0 %}
										<img 
											class="comment_icon" 
											src="{% static "assets/images/heart-nolike-256.png" %}" 
											title="Like Game" 
										/> {{comment.commentlikes.count}} 
									{% endif %}
								{% endif %}
								<span class="small_font">
									<i>Posted on {{comment.pubdate}}</i> 
									{% if comment.createdby == thisuser %}
										<a href="/lobby/posts/{{post.id}}/comments/{{comment.id_unique}}/edit/">
											<b>Edit</b>
										</a>
									{% endif %}
								</span>
							</td>
						</tr>
						<tr><td colspan="3"></td></tr>
					{% endfor %}
					{% if thisuser %}
						<tr>
							<td></td>
							<td colspan="2">
								<form action="/lobby/posts/{{post.id}}/new_comment/" method="post">{% csrf_token %}
									<input type="text" name="comment_text" id="comment_text" placeholder="Comment" size="40" />
									<input type="submit" name="newcomment" id="newcomment" value="New Comment" />
								</form>
							</td>
						</tr>
					{% endif %}
				</table>
				<br />
			{% endfor %}
			
			<div class="pagination" align="right">
				<span class="step-links">
					{% if posts.has_previous %}
						<a href="?page={{ posts.previous_page_number }}"><b>previous</b></a>
					{% endif %}

					<span class="current">
						Page {{ posts.number }} of {{ posts.paginator.num_pages }}
					</span>

					{% if posts.has_next %}
						<a href="?page={{ posts.next_page_number }}"><b>next</b></a>
					{% endif %}
				</span>
			</div>
		{% else %}

			<p>None to show!</p>

		{% endif %}

	{% endif %}

{% endblock %}